@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
body {
  margin: 0;
  padding: 0;
}
.flexible-content {
  display: flex;
  padding-bottom: 150px;
}
.top-banner {
  background-image: url("../img/top.png");
  background-repeat: no-repeat;
}

.content-area {
  width: 50%;
  margin-left: 5%;
  padding-left: 2%;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
p {
  color: dimgray;
}
.content-area img {
  width: 80%;
}
.color-title {
  color: orange;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  padding: 10px 40px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  background: linear-gradient(45deg, lightsalmon, tomato);
}
.second-banner {
  background-image: url(../img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience {
  background-image: url(../img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-area {
  width: 40%;
  margin-left: 5%;
  margin-right: 2%;
  padding: 30px;
  box-shadow: 10px 10px 40px gray;
}

#first-area {
  border-left: 7px solid tomato;
}
#second-area {
  border-left: 7px solid;
  border-image: linear-gradient(blue 100%, cyan 100%);
  border-image-slice: 1;
}
.experience h3 {
  color: orange;
}
footer p {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
